
.container {
  width: 90%;
  margin: 0 auto;
  margin-left: 50px;
  /* don't get overlayed by top/bottom navbar */
  padding-top: 70px;
  padding-bottom: 70px; 
}

#mosaic {
  min-width: 300px;
  max-width: 500px;
}