<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    
    <error-page>
	  <error-code>404</error-code>
	  <location>/jsp/404.jsp</location>
	</error-page>
    
    <!--  TODO tag libs http://docs.oracle.com/cd/E11035_01/wls100/webapp/configurejsp.html -->

  <servlet>
    <servlet-name>mosaic</servlet-name>
    <servlet-class>mosaic.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mosaic</servlet-name>
    <url-pattern>/mosaic</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.example.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>generate</servlet-name>
    <servlet-class>mosaic.MosaicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generate</servlet-name>
    <url-pattern>/generate</url-pattern>
  </servlet-mapping>
  
  <mime-mapping>
  	<extension>css</extension>
  	<mime-type>text/css</mime-type>
  </mime-mapping>

</web-app>
